<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
/*----------------------------------Navbar-------------------------------------*/
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.logo {
    display: flex;
    transition: 0.5s;
}
.logo:hover {
  transform:rotate(-2deg);
  transition: 0.5s;
}
.pagesbutton {
    display: flex;
    gap: 35px; 
    flex-grow: 1;
    margin-left: 20px;
    font-size: large;
}
.linkbutton {
  display: inline-block;
  position: relative;
}
.linkbutton {
  display: inline-block;
  position: relative;
}
.linkbutton::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}
.linkbutton:hover::after { 
  transform: scaleX(1);
  transform-origin: bottom center;
}
.hamburgermenu { display: none;}
.menu { background-color: white;}
/*----------------------------------------------------------------------------*/
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> 2b50362 (User)
=======
>>>>>>> ca0d8e0 (javitas)
=======

>>>>>>> ab70ccf (fix home page)
.signbutton {
    display: flex;
    align-items: center;
}
.menu {
  background-color: white;
  z-index: 3;
  position: sticky;
  width: 100%;
}
.loginpanel {
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 35%;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

/*--------------------------------Home.jsx------------------------------------*/

.home {
  display: flex;
  flex-direction: column;
  width: auto;
<<<<<<< HEAD
=======
  text-align: center;
  margin: auto;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  background-attachment: fixed;
  backdrop-filter: blur(10px);
  color: white;
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 2b50362 (User)
=======
/*--------------------------------Home.jsx------------------------------------*/
>>>>>>> 85e976f (fix home page)
=======
>>>>>>> ca0d8e0 (javitas)
}
/*--------------------------------Home.jsx------------------------------------*/

.home {
}
.home_header_bg{
  position: relative;
  top: 0; left: 0;
  background-color: red;
  height: 90vh;
  overflow: hidden;
}
.home_bg{
  position: absolute;
  top: 0; left: 0;
}
.home_bg img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.home_bg_szoveg{
  /*position: absolute;*/
}
.home_bg_szoveg h1{
  position: absolute;
  font-family: "Quicksand", serif;
  color: black;
  font-size: 50px; 
  left: 50%;
  transform: translate(-50%, 0%);
}
.home_bg_szoveg .btn{
  position: absolute;
  bottom:0 ;left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  cursor: pointer;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-weight: 500;
  color: black;
  background-color: white;
}
.btn:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn::after { background-color: #fff; }
.btn:hover::after { transform: scaleX(1.4) scaleY(1.6); opacity: 0; }


.box {
  height: fit-content;
  height: 250px;
  margin: 10px;
  text-align: center;
  margin: auto;
  background-image: linear-gradient(green,brown);
  background-attachment: fixed;
  backdrop-filter: blur(10px);
  color: white;
}
.szovegfelso {
  background-color: rgba(157, 157, 157, 0.459);
  /*position: relative;*/
  width: 80%;
  margin: 75px auto;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.459);
  font-size: 25pt;
}
.szovegalso {
  width: 90%;
  margin: 0px auto;
  font-size: 15pt;
}
/*----------------------------------------------------------------------------*/

/*                   Etelek.jsx                           */
.etelekFent{
  display: flex;
  background-color: white;
  width: 70%;
  max-width: 1000px;
  margin:5px auto;
  padding: 14px;
  box-shadow: 0px 5px 10px rgba(138, 138, 138, 0.459);
  border-radius: 10px;
}
.etelekFent .searchBTN{
  width: 100%;
  max-width: 600px;
}
.etelekFent .kereso { flex: 1;}
.etelekFent .szurok { display: flex; gap: 2.2rem}
.etelekFent .szurok div{
  display: flex;
  align-items: center; 
  gap: 0.6rem;
}
.etelekFent .szurok div span { cursor: pointer; }
.etelekLent{
  width: 80%;
  margin: 50px auto;
}

/*-------------------------------------------------------------------------------*/

/*                KARTYAK                */
.kartya{
  position: relative;
  top: 0; left: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);
  border-radius: 5px;
  cursor: default;
  transition: 0.4s;
}
.kartya:hover { top: -10px; }

.kartya .kartyaKep{
  position: relative;
  top: 0; left: 0;
}
.kartya .kartyaKep img {
  height: 240px;
  width: 100%;
  margin: 0;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.37);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  object-fit: cover;
}

.kartya .kartyaKep span{
  position: absolute;
  font-size: 15px;
  background-color: white;
  padding: 0px 3px;
  border-radius: 5px;
}
.kartya .kartyaKep .kartyaDb{ top: 5px; left: 5px; }
.kartya .kartyaKep .kartyaErtekeles{
  display: flex;
  top: 5px; right: 5px;
  align-items: center; 
}
.kartya .kartyaSzoveg {
  background-color: rgba(255, 255, 255, 0.39);
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.kartya p{ margin-top: 5px; }
.kartya .kartyaGomb{
  margin-top: 10px;
  width: 100%;
  height: 30px;
}
.nev_ar{ display: flex; justify-content: space-between; }
<<<<<<< HEAD
=======

/*----------------------------------*/

/*                                Etel.jsx                                */
.etel{
  width: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);;
  margin: 30px auto;
  padding: 20px;
}
.etel img{
  width: 500px;
  height: 350px;
  border: 1px solid red
}
<<<<<<< HEAD
>>>>>>> f2b3d7e (Etel.jsx)

/*----------------------------------*/

/*                                Etel.jsx                                */
.etel{
  width: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);;
  margin: 30px auto;
  padding: 20px;
}
.etel img{
  width: 500px;
  height: 350px;
  border: 1px solid red
}
/*-------------------------------------------------------------------------------*/

/*-----------------------------------Login.jsx-----------------------------------*/

=======
/*-------------------------------------------------------------------------------*/

/*-----------------------------------Login.jsx-----------------------------------*/

>>>>>>> 2b50362 (User)
.signbutton {
  display: flex;
  align-items: center;
}
.logingomb {
  border: 2px solid black;
  padding: 5px 7px;
  border-radius: 5px;
  transition: 0.5s;
}
.logingomb:hover {
  border: 2px solid black;
  background-color: black;
  color: white;
}
<<<<<<< HEAD

=======
.loginpanel {
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 35%;
  background-color: white;
  padding: 20px;
  border-radius: 5px; 
}
/*-------------------------------------------------------------------------------*/
/*---------------------------------MyProfile.jsx---------------------------------*/
>>>>>>> 2b50362 (User)

<<<<<<< HEAD
=======
.myprofile {
  background-color: white;
  padding: 10px;
  margin: 20px auto;
  width: 50%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.37);
  border-radius: 5px;
}
.profilkep { min-width: 45%;}
.profiladatok { min-width: 55%;}
.delbutton {
  background-color: red;
  text-align: center;
  color:white;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.37);
  transition: 0.5s;
}
.delbutton:hover {
  background-color: rgb(225, 1, 1);
}


/*-------------------------------------------------------------------------------*/
/*----------------------------Reszponzív-----------------------------------------*/
.feltoltes input {
  padding: calc(var(--spacing) * 2);
  border-style: var(--tw-border-style);
    border-width: 2px;
    border-color: var(--color-gray-300);
    border-radius: var(--radius-md)
}
>>>>>>> cafc879 (Myprofile)

@media (max-width: 1200px) {
  .pagesbutton {
    gap: 20px;
    font-size: medium;
  }
.szoveg {font-size: 22pt;}
.loginpanel {  width: 50%;}
.profilkep { min-width: 40%;}
}

@media (max-width: 768px) {
<<<<<<< HEAD
  .buttons {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  .pagesbutton {
    flex-direction: column;
    gap: 15px;
    margin-left: 0;
    margin-bottom: 10px;
  }

  .szoveg {
    right: 10%;
    left: 10%;
    font-size: 18pt;
  }

  .loginpanel {
    width: 70%;
  }
=======
  .hamburgermenu { display: contents; }
  .pagesbutton { display: none;}
  .signbutton { display: none;}
  .menu { justify-content: space-between;}
  .profiladatok {  margin: auto;}
  .myprofile {
    display: flex;
    flex-direction: column;
    width: 70%;
    }
>>>>>>> 2b50362 (User)
}

@media (max-width: 480px) {
  .pagesbutton {
    font-size: small;
    gap: 10px;
  }
  .szoveg {  font-size: 16pt;}
  .loginpanel {
    width: 90%;
    padding: 15px;
  }
}
=======
=======
/* background-color: rgba(255,251,235,255) */
>>>>>>> b8b6442 (footer kezdetleges)
=======
/* background-color: rgb(255,251,235) */
>>>>>>> f7205e7 (footer 1.1)
/*----------------------------------Navbar-------------------------------------*/
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.logo {
    display: flex;
    transition: 0.5s;
}
.logo:hover {
  transform:rotate(-2deg);
  transition: 0.5s;
}
.pagesbutton {
    display: flex;
    gap: 35px; 
    flex-grow: 1;
    margin-left: 20px;
    font-size: large;
}
.linkbutton {
  display: inline-block;
  position: relative;
}
.linkbutton {
  display: inline-block;
  position: relative;
}
.linkbutton::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}
.linkbutton:hover::after { 
  transform: scaleX(1);
  transform-origin: bottom center;
}
.hamburgermenu { display: none;}
.menu { background-color: white; }
/*----------------------------------------------------------------------------*/

.signbutton {
    display: flex;
    align-items: center;
}
.menu {
  background-color: white;
  z-index: 3;
  position: sticky;
  width: 100%;
}
.loginpanel {
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  padding: 20px;
  
}

/*--------------------------------Layout.jsx--footer--------------------------*/
footer {
  position: relative;
  /*width: 100%;*/
  top: 300px;
  background-image: linear-gradient(rgb(255,251,235), rgb(255, 227, 114) );
  padding: 50px 50px 10px 50px;
}
footer .footer_container{ text-align: center; }
footer .footer_linkek .footer_link {
  position: relative;
  top: 0; left: 0;
  transition: 0.2s;
}
footer .footer_linkek .footer_link::after {
  content: "";
  margin: 0px 15px;
  border-right: 1px solid rgb(209, 205, 191);
}
footer .footer_linkek .footer_link:hover { top: -5px; padding-bottom: 5px; }
footer iframe {
  min-width: 250px;
  height: 250px;
}
footer .footer_imgs {
  display: flex; margin: 20px 0; align-items: center; 
}
footer .footer_img {
  font-size: 30px;
  border-radius: 10px;
  margin:  0 5px;
  transition: 0.3s;
  cursor: pointer;
}



/*--------------------------------Home.jsx----------------------black;-------------*/
.home {
  display: flex;
  flex-direction: column;
  width: auto;
  text-align: center;
  margin: auto;
  background-color: rgba(255,251,235,255);
  background-attachment: fixed;
  backdrop-filter: blur(10px);
}
/*--------------------------------Home.jsx------------------------------------*/

.home_header_bg{
  position: relative;
  top: 0; left: 0;
  background-color: red;
  height: 90vh;
  overflow: hidden;
}
.home_bg{
  position: absolute;
  top: 0; left: 0;
}
.home_bg img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.home_bg_szoveg{
  /*position: absolute;*/
}
.home_bg_szoveg h1{
  position: absolute;
  font-family: "Quicksand", serif;
  color: black;
  font-size: 50px; 
  left: 50%;
  transform: translate(-50%, 0%);
}
.home_bg_szoveg .btn{
  position: absolute;
  bottom:0 ;left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  cursor: pointer;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-weight: 500;
  color: black;
  background-color: white;
}
.btn:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn::after { background-color: #fff; }
.btn:hover::after { transform: scaleX(1.4) scaleY(1.6); opacity: 0; }


.box {
  height: fit-content;
  height: 250px;
  margin: 10px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.459);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.459);
}
.szovegfelso {
  background-color: rgba(157, 157, 157, 0.459);
  /*position: relative;*/
  width: 80%;
  margin: 75px auto;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.459);
  font-size: 25pt;
}
.szovegalso {
  width: 90%;
  margin: 0px auto;
  font-size: 15pt;
}
/*----------------------------------------------------------------------------*/

/*                   Etelek.jsx                           */
.etelekFent{
  display: flex;
  background-color: white;
  width: 70%;
  max-width: 1000px;
  margin:5px auto;
  padding: 14px;
  box-shadow: 0px 5px 10px rgba(138, 138, 138, 0.459);
  border-radius: 10px;
}
.etelekFent .searchBTN{
  width: 100%;
  max-width: 600px;
}
.etelekFent .kereso { flex: 1;}
.etelekFent .szurok { display: flex; gap: 2.2rem}
.etelekFent .szurok div{
  display: flex;
  align-items: center; 
  gap: 0.6rem;
}
.etelekFent .szurok div span { cursor: pointer; }
.etelekLent{
  width: 80%;
  margin: 50px auto;
}

/*-------------------------------------------------------------------------------*/

/*                KARTYAK                */
.kartya{
  position: relative;
  top: 0; left: 0;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);
  border-radius: 5px;
  cursor: default;
  transition: 0.4s;
}
.kartya:hover { top: -10px; }

.kartya .kartyaKep{
  position: relative;
  top: 0; left: 0;
}
.kartya .kartyaKep img {
  height: 240px;
  width: 100%;
  margin: 0;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.37);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  object-fit: cover;
}

.kartya .kartyaKep span{
  position: absolute;
  font-size: 15px;
  background-color: white;
  padding: 0px 3px;
  border-radius: 5px;
}
.kartya .kartyaKep .kartyaDb{ top: 5px; left: 5px; }
.kartya .kartyaKep .kartyaErtekeles{
  display: flex;
  top: 5px; right: 5px;
  align-items: center; 
}
.kartya .kartyaSzoveg {
  background-color: rgba(255, 255, 255, 0.39);
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.kartya p{ margin-top: 5px; }
.kartya .kartyaGomb{
  margin-top: 10px;
  width: 100%;
  height: 30px;
}
.nev_ar{ display: flex; justify-content: space-between; }

/*----------------------------------*/

/*                                Etel.jsx                                */


.etel{
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
}
.etel img{
  width: 500px;
  height: 100%;
  border: 1px solid red;
  border-radius: 7px;
}
#etel_kateg { letter-spacing: 2px; }
#etel_partnev{
  display: flex;
  margin: 15px auto 0px auto;
  font-size: 19px;
  text-align: center;
  align-items: center;
  gap: 5px;
  width: fit-content;
}
#etel_cim{
  display: flex;
  margin: auto;
  font-size: 15px;
  text-align: center;
  align-items: center;
  gap: 5px;
  width: fit-content;
}
.etel_leiras{
  margin-top: 20px;
}
.etel_ertelekes{
  display: flex;
}
.etel_ar_db{
  display: flex;
  margin: 35px auto;
  width: 300px;
  gap: 5px;
  justify-content: space-between;
  text-align: center;
}
.etel_ar_db p::after {
  content: "";
  margin: 0px 15px;
  border-right: 1px solid rgb(209, 205, 191);
}
.etel_ar_db div {
  align-items: center;
  font-size: 17px;
  display: flex;
  margin: auto;
}
/*.etel_terkep iframe{
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0px 0px 5px black;
  width: 100%;
  height: 200px;
}*/
#etel_gomb{
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);;
  padding: 10px;
  background-color: white;
  color: black;
}
#etel_gomb:hover {
  background-color: greenyellow;
}
.etel img{
  width: 500px;
  height: 100%;
  min-height:  350px;
  margin: auto;
  border: 1px solid red
}
/*-------------------------------------------------------------------------------*/

/*-----------------------------------Kapcsolat.jsx-----------------------------------*/
@media screen and (min-width: 800px) {
  .kapcsolat {
    width: fit-content;
  }
}
@media screen and (max-width: 800px) {
  .kapcsolat {
    width: 90%;
  }
}
  .kapcsolat {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 20px auto;
    padding: 14px;
    box-shadow: 0px 5px 10px rgba(138, 138, 138, 0.459);
    border-radius: 10px;
  }
  .kapcsolat h1 {
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 3px;
  }
  .uzenetKuldes { 
    width: 400px; 
    max-width: 100%; 
   /* border: 1px solid red */
  }
  .uzenetKuldes input{
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-weight: 500;
    border-bottom: 1px solid rgb(172, 172, 172);
  }
  .uzenetKuldes textarea{
    width: 100%;
    min-height: 200px;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid rgb(172, 172, 172);
    border-radius: 5px;
    font-weight: 500;
  }
  .kapcsolatInfo{
    /*border: 1px solid blue;*/
    font-weight: 500;
    padding: 10px;
    width: 400px; 
    max-width: 100%; 
  }
  .kapcsolatInfo ul { margin: 10px 0; }
  .kapcsolatInfo ul li{
    display: flex;
    margin: 5px 0;
    align-items: center;
    gap: 5px;
  }
  .kapcsolat_img { display: flex; margin-top: 40px; align-items: center;  }
  .kapcsolat_img img{
    width: 36px;
    height: 36px;
    border-radius: 10px;
    margin:  0 10px;
    filter: grayscale(1);
    transition: 0.3s;
    cursor: pointer;
  }
  .kapcsolat_img img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
  }


/*-------------------------------------------------------------------------------*/


/*-----------------------------------Login.jsx-----------------------------------*/

.signbutton {
  display: flex;
  align-items: center;
}
.logingomb {
  border: 2px solid black;
  padding: 5px 7px;
  border-radius: 5px;
  transition: 0.5s;
}
.logingomb:hover {
  border: 2px solid black;
  background-color: black;
  color: white;
}
.loginpanel {
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 35%;
  background-color: white;
  padding: 20px;
  border-radius: 5px; 
}
/*-------------------------------------------------------------------------------*/
/*---------------------------------MyProfile.jsx---------------------------------*/

.myprofile {
  background-color: white;
  padding: 10px;
  margin: 20px auto;
  width: 50%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.37);
  border-radius: 5px;
}
.profilkep { min-width: 45%;}
.profiladatok { min-width: 55%;}
.delbutton {
  background-color: red;
  text-align: center;
  color:white;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.37);
  transition: 0.5s;
}
.delbutton:hover {
  background-color: rgb(225, 1, 1);
}


/*-------------------------------------------------------------------------------*/
/*----------------------------Reszponzív-----------------------------------------*/
.feltoltes input {
  padding: calc(var(--spacing) * 2);
  border-style: var(--tw-border-style);
    border-width: 2px;
    border-color: var(--color-gray-300);
    border-radius: var(--radius-md)
}

@media (max-width: 1200px) {
  .pagesbutton {
    gap: 20px;
    font-size: medium;
  }
.szoveg {font-size: 22pt;}
.loginpanel {  width: 50%;}
.profilkep { min-width: 40%;}
}

@media (max-width: 768px) {
  .hamburgermenu { display: contents; }
  .pagesbutton { display: none;}
  .signbutton { display: none;}
  .menu { justify-content: space-between;}
  .profiladatok {  margin: auto;}
  .myprofile {
    display: flex;
    flex-direction: column;
    width: 70%;
    }
}

@media (max-width: 480px) {
  .pagesbutton {
    font-size: small;
    gap: 10px;
  }
  .szoveg {  font-size: 16pt;}
  .loginpanel {
    width: 90%;
    padding: 15px;
  }
}
<<<<<<< HEAD
>>>>>>> f2da40c (Kapcsolat.jsx, Etel.jsx fix)
=======

@media screen and (min-width: 1300px) {
  .etel {
    width: 50%; 
  }
  .footer_container {
    width: 70%;
  }
}
@media screen and (min-width: 767px) and (max-width: 1300px)   {
  .etel {
    width: 80%; 
  }
  .footer_container {
    width: 100%;
    margin: auto;
  }
  .footer_jobb{
    margin-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  .etel {
    width: 80%; 
  }
  .footer_container {
    width: 100%;
  }
  .footer_jobb{
    margin-top: 20px;
  }
}
<<<<<<< HEAD
>>>>>>> b8b6442 (footer kezdetleges)
=======


>>>>>>> f7205e7 (footer 1.1)
/*-------------------------------------------------------------------------------*/